.Pulse {
  text-align: center;
}

svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.beat-loader {
  stroke: #e76e66;
  stroke-dasharray: 175;
  stroke-dashoffset: 350;
  animation: draw 1.4s ease-in-out infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
