.owl {
  position: relative;
  margin-top: 12%;
  left: 17%;
  text-align: center;
  color: white;
}

.Pulse {
  text-align: center;
}

svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 33%;
  right: 0;
  margin: auto;
}

.beat-loader {
  stroke: #e76e66;
  stroke-dasharray: 175;
  stroke-dashoffset: 350;
  animation: draw 1.4s ease-in-out infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.sticky-sidebar {
  position: fixed;
  background: #e7eef1;
  padding: 40px 40px 60px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 12px 0 -6px #fa90a3;
  left: 0;
  top: 0;
  width: 33%;
  height: 100%;
  float: left;
  text-align: center;
}

.excel {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
}

.pulse {
  max-width: 100%;
  margin-top: 10%;
  height: auto;
}