<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/public/assets/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/index.css" />

  <title>O.W.L | Pulse | Excel 2018</title>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 px-1 bg-dark position-fixed sticky-sidebar-home">
      </div>
      <div class="col offset-3">
        <div class="main d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
          <div class="p-2">
            <h1 class="shadow-typo">O.W.L</h1>
          </div>
          <div class="p-2">
            <a href="/leaderboard">
              <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Leaderboard</button>
            </a>
            <a href="/rules">
              <button type="button" class="btn btn-outline-secondary" style="margin: 10px 10px 10px 10px;">Rules</button>
            </a>
            <a href="http://excelmec.org/#/events/pulse18" target="_blank">
              <button type="button" class="btn btn-outline-secondary" style="margin: 10px 10px 10px 10px;">About</button>
            </a>
          </div>
          <div class="p-2">
            <img src="/public/assets/pulse_ecg.gif" alt="Pulse 18" class="pulse-ecg" />
          </div>
          <div class="p-2">
            <p class="threedee-typo"> You Better Be Ready! </p>
          </div>
          <div class="p-2">
            <a href="/auth/google">
              <button type="button" class="btn btn-outline-dark" style="color: white;">
                <img style="padding-right: 10px;" width="40px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>