<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/public/assets/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/index.css" />

  <title>O.W.L | Pulse | Excel 2018</title>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 px-1 bg-dark position-fixed sticky-sidebar">
      </div>
      <div class="col offset-3">
        <div>
          <a href="/rules">
            <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Rules</button>
          </a>
          <a href="/participate">
            <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Play</button>
          </a>
          <a href="/leaderboard">
            <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Leaderboard</button>
          </a>
          <a href="/profile">
            <button type="button" class="btn btn-outline-secondary" style="margin: 5px 5px 5px 5px;">Profile</button>
          </a>
        </div>
        <div class="main pos d-flex flex-column flex-sm-column flex-md-column flex-lg-column flex-xl-column">
          <div class="p-2">
            <h1 style="color: #e76e66;">Rules for O.W.L</h1>
            <hr style="border-color: white;">
            <ol class="list-group">
              <li>The whole quiz will be conducted under a time limit of 200 seconds.</li>
              <li>There will be a total of 20 questions of which is differentiated as three levels of difficulty: 8
                Easy
                Questions, 7 Medium Questions, 5 Hard questions.</li>
              <li>Each easy, medium and hard questions will give 2, 4 and 5 points respectively.</li>
              <li>Once you login, you will be prompted to the quiz and you cannot restart from the beginning.</li>
              <li>There are no negative marks for wrong answers.</li>
              <li>You are allowed to skip questions but you cannot attempt them later.</li>
              <li>The finalist will be getting a direct entry into Obscura’s finals.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>