<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <h1>Rules for O.W.L</h1>
    <ul>
        <li>The whole quiz will be conducted under a time limit of 200 second.</li>
        <li>There will be a whole of 20 questions of which is differentiated as three levels of difficulty: 8 Easy
            Questions, 7 Medium Questions, 5 Hard questions.</li>
        <li>Each easy, medium and hard questions will give 2,4,5 points respectively.</li>
        <li>Once you login, you will be prompted to the quiz and can’t restart from the first.</li>
        <li>There will be no negative marks hence the contestant can skip questions.</li>
        <li>The Finalist will be getting a direct entry into Obscura’s finals.</li>
    </ul>

</body>

</html>