.sticky-sidebar-home {
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-image: url("/public/assets/excel_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sticky-sidebar {
  background-color: #33383e !important;
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-image: url("/public/assets/pulse_beat.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  align-items: center;
  justify-content: center;
  color: white;
}

.shadow-typo {
  position: relative;
  display: inline-block;
  margin-top: 2%;
  font-size: 4rem;
  text-transform: uppercase;
  color: #00b3b4;
  text-shadow: 3px 3px 0 #235323, 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.threedee-typo {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #e76e66;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
  -moz-transform: skew(-5deg, -5deg) rotate(5deg);
  -o-transform: skew(-5deg, -5deg) rotate(5deg); 
  transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  text-shadow: 1px 1px #d10e31,
               1.2px 1.2px #d10e31,
               1.3px 1.3px #d10e31,
               1.4px 1.4px #d10e31,
               1.5px 1.5px #d10e31,
               1.6px 1.6px #d10e31,
               1.7px 1.7px #d10e31,
               1.8px 1.8px #890920,
               1.9px 1.9px #890920,
               2px 2px #890920,
               2.1px 2.1px 2.5px rgba(0, 0, 0, 0.5);
}

.pulse-ecg {
  z-index: -999;
  max-width: 100%;
  max-height: 100%;
}

.dp {
  display: block;
  width: 7em;
  height: 7em;
  border-radius: 50%;
}

.list-group li {
  font-size: 1.1rem;
  margin: 10px 10px 10px 10px;
}

.p-2 h4 {
  color: #e76e66;
  font-size: 2rem;
}

.p-2 h5 {
  font-size: 1rem;
}

.pos-profile {
  margin-top: 15%;
}

.pos {
  margin-top: 3%;
}

.info h3{
  color: #e76e66;
  font-size: 2rem;
  margin: 20px 10px 10px 20px;
}

.info span {
  color: white;
  font-size: 3rem;
}

label {
  padding-left: 10px;
}

input[type=radio] {
  transform: scale(1.5);
}

.form-check {
  margin: 15px 15px 15px 15px;
}

.container-fluid {
  position: relative;
  top: 2%;
  left: 0;
}

.time-taken {
  margin-top: 3%; 
}