.sticky-sidebar {
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-image: url("/public/assets/excel_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  align-items: center;
  justify-content: center;
  color: white;
}

.shadow-typo {
  position: relative;
  display: inline-block;
  font-size: 4rem;
  text-transform: uppercase;
  color: #00b3b4;
  text-shadow: 3px 3px 0 #235323, 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.beat-loader {
  stroke: #e76e66;
  stroke-dasharray: 175;
  stroke-dashoffset: 350;
  animation: draw 1.4s ease-in-out infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.dp {
  display: block;
  width: 7em;
  height: 7em;
  border-radius: 50%;
}

.p-2 h4 {
  color: #e76e66;
  padding-left: 0.6rem;
  font-size: 2rem;
}

.p-2 h5 {
  padding-left: 0.8rem;
  font-size: 1rem;
}

.pos {
  margin-top: 15%;
}
